.header {
  background: rgb(64 173 255) !important ;
}

.contentHeader {
  border: 1px solid #000;
}

.row {
  margin-left: -50px;
}

.logo {
  width: 70px;
  margin-left: 5px;
}

.logoInfo {
  width: 250px;
}

.logoInfo:hover {
  opacity: 0.6;
}

.headerInfo {
  font-size: 1rem;
  color: #fff;
  text-align: right;
}

.headerLogout:hover {
  opacity: 0.6;
}

.headerUserInfo {
  color: #fff;
}

.headerUserInfo:hover {
  color: #fff;
}

.dropdown {
  margin-right: 20px;
}

.logoName {
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  width: 100%;
  height: 90vh;
  background: #fff;
  padding: 20px;
  margin: 20px;
  margin-top: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
